<div>
    <form name="createPasswordForm" valid-submit="savePassword(passwordData)">
        <div>
            <input type="password" placeholder="Password" name="password" data-ng-model="passwordData.password" required>
        </div>
        <div>
            <input type="password" placeholder="Password" name="confirmPassword" data-ng-model="passwordData.confirmPassword" required>
        </div>
        <div>
            <button type="submit">Create Password</button>
        </div>
    </form>
</div>