<html>

<head>
    <title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <body>
        <div class="loginbox">
            <img src="../images/avatar.png" class="avatar">
            <h1>Login Here</h1>
            <form name="loginForm" valid-submit="login(loginData)">
                <p>E-mail</p>

                <input type="" name="mail" placeholder="Enter E-mail" data-ng-model="loginData.mail" autocomplete="off" required>

                <p>Password</p>

                <input type="" name="password" placeholder="Enter Password" data-ng-model="loginData.password" autocomplete="off" required>


                <button type="submit">Login</button>

                <a ui-sref="signup">Don't have an account?</a><br>
                <a href="#">Forgot password</a>
            </form>

        </div>
        <div>
            <ui-view></ui-view>
        </div>

    </body>
</head>

</html>