<html>

<head>
    <title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <body>
        <div class="loginbox">
            <img src="../images/avatar.png" class="avatar">
            <h1>Signup Here</h1>
            <form>
                <p>E-mail</p>
                <div>
                    <input type="text" name="E-mail" placeholder="Enter E-mail">
                </div>
                <p>Password</p>
                <div>
                    <input type="password" name="password" placeholder="Enter Password">
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>

            </form>

        </div>


    </body>
</head>

</html>