<html>

<head>
    <title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <body>
        <div class="loginbox">
            <img src="../images/avatar.png" class="avatar">
            <h1>Signup Here</h1>
            <form name="signupform" valid-submit="signup(signupdata)">
                <p>Name</p>
                <input type="text" name="name" placeholder="Enter your name" data-ng-model="signupdata.name">
                <p>E-mail</p>

                <input type="text" name="mail" placeholder="Enter E-mail" data-ng-model="signupdata.mail">

                <p>Contact no.</p>

                <input type="number" name="number" placeholder="Enter your contact no." data-ng-model="signupdata.cont">


                <button type="submit">Signup</button>


            </form>

        </div>


    </body>
</head>

</html>